.header {
 background-color: var(--top-background);

 &_title{
  color: green;
  font-weight: bolder;
  font-size: 1.2em;
  padding-top: 4%;

  @media screen and (max-width: 500px) {
   padding: 0;
  }
 }

 &_right{
  display:inline;

  &_links{
   float: right;

   &_routes{
    color: var(--text-color);
   }
  }

  &_icon{
   margin-top: 4%;
   float: right;
  }

  .hamburger-icon{
   @include hamburger(var(--text-color), var(--text-color), 20px, 16px, 2px, 3);
  }


  @media screen and (max-width: 500px) {

   padding-right: 5%;
   &_links{
    float: right;
   }

   &_icon{
    margin-top: 3%;
    float: left;
   }
  }

 }
 .one{
  color: #1779ba;
 }

 .two{
  color: plum;
 }

 .three{
  color: darkblue;
 }

 .four{
  color: red;
 }

 /* toggle in label designing */
 .toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
  border-radius: 30px;
  top: 1px;
  background-image: linear-gradient(to right, $lighter-black, $lighter-grey)
 }

 /* After slide changes .. the left value affects how far the ball goes to the left */
 .toggle:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 12px;
  border-radius: 30px;
  background-color: $lighter-grey;
  top: 1px;
  left: 4px;
  transition: all 0.5s;
 }

 /* Checkbox cheked effect .. the left value affects how far the ball goes to the right */
 .checkbox:checked + .toggle::after {
  left: 24px;
 }

 /* Checkbox cheked toggle label bg color */
 .checkbox:checked + .toggle {
  border: 1px solid $lighter-black;
 }

 .checkbox:checked + .toggle:after {
  background-color: $lighter-grey;
 }

 /* Checkbox vanished */
 .checkbox {
  display: none;
 }

}

