.header {
 background-color: $black;


 &_icon{
  color: green;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 &_links{
  color: $lighter-grey;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .one{
  color: #1779ba;
 }

 .two{
  color: plum;
 }

 .three{
  color: darkblue;
 }

 .four{
  color: red;
 }

}

.top-bar .top-bar-left, .top-bar .top-bar-right { flex: none; }

@media screen and (max-width: 500px) {
 .top-bar , .top-bar-right {
   float: right;
 }
}


.fade-enter-active, .fade-leave-active {
 transition: opacity 6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
 opacity: 0;
}
