.home{
  padding-top: 20%;
  p, h1{
    color: var(--text-color);
    text-align: center;
  }

  &_social_icons{
    padding-top: 5%;
    text-align: center;
  }

  &_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    p{
      color: var(--text-color);
      text-align: center;
    }
  }

}


