html, body {
  height: 100%;
  font-family: 'CustomFont';
  width: 100%;
  margin: 0;
  padding:0;
  bottom:0;
  top:0;
  right:0;
  left:0;
  background-color: var(--bottom-background);
}

.main{
  height: 100%;
  width: 100%;
  &_top{
     background-color: var(--top-background);
  }
}


.top-bar .top-bar-left, .top-bar .top-bar-right { flex: none; }


@media screen and (max-width: 500px) {
  .top-bar , .top-bar-right {
    float: right;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
