:root {
   --top-background : #2A2A2B;
   --bottom-background : #2D2E31;
   --text-color : #C0C0C0;
}

[theme="dark"] {
  --top-background : #F5F5F5;
  --bottom-background : #FFFFFF;
  --text-color : black;
}
